@mixin dimi-border {
    border-radius: 6px;
}

@mixin font-light {
    font-weight: 300;
}

@mixin font-regular {
    font-weight: 400;
}

@mixin font-bold {
    font-weight: 700;
}

@mixin font-extra-bold {
    font-weight: 800;
}
