@mixin font-light {
  font-weight: 300;
}

@mixin font-regular {
  font-weight: 400;
}

@mixin font-bold {
  font-weight: 700;
}

@mixin font-extra-bold {
  font-weight: 800;
}

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1) {
    @content;
  }
}
