/* Colors */
$red: #e83c3d;
$red-dark: #ad3030;

$white: #fff;
$black: #151313;

$gray-dark: lighten($black, 26%);
$gray: lighten($black, 26%);
$gray-light: lighten($black, 91%);

$pink: #ff8081;
$pink-invert: $black;

$orange: #f5693d;
$orange-invert: $black;

$turquoise: #00b4a1;
$turquoise-invert: #fff;

$bg: #f7f7f7;
