@import './reset';
@import './variables';
@import './helpers/all';
@import './components/all';

* { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

html {
  background-color: $bg;
}

.root {
  font-family: 'NanumSquareRound', system-ui, sans-serif;
  overflow-x: hidden;
}
