@import './reset';
@import './variables';
@import './helpers/all';
@import './components/all';

html {
  background-color: $bg;
}

.root {
  font-family: 'NanumSquareRound', system-ui, sans-serif;
  overflow-x: hidden;
}

// TODO fix
.v--modal {
  padding: 24px !important;
}
