@import './reset';
@import './variables';
@import './helpers/all';
@import './components/all';

.root {
  background-color: $bg;
  font-family: 'NanumSquareRound', system-ui, sans-serif;
  overflow-x: hidden;
}
