{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "entry"
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties"
  ]
}
