{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "uglify": true,
                    "ie": 10,
                    "chrome": 50,
                    "safari": 10
                }
            }
        ],
        "stage-3"
    ]
}
