/* Colors */
$red: #e83c3d;
$red-dark: #ad3030;
$white: #fff;
$black: #191616;
$gray-dark: #595858;
$gray: #929292;
$gray-light: #b1b1b1;
$gray-lighter: #e7e7e7;
$gray-lighten: #f3f3f3;
$pink: #ff8081;
$orange: #f5693d;
$aloes: #00b4a1;
$cyan: #119de6;
$mustard: #fdb812;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;

/* From bulma */

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
