@import '../_variables.scss';

.h-black {
    background-color: $black;
    &--light {
        background-color: $gray-dark;
    }
    &--lighten {
        color: $gray;
    }
    &--lightest {
        color: $gray-light;
    }
}

.h-red {
    background-color: $red;
    &--dark {
        background-color: $red-dark;
        &--hover:hover {
            background-color: $red-dark;
        }
    }
}

.h-pink {
    background-color: $pink;
}

.h-orange {
    background-color: $orange;
}

.h-turquoise {
    background-color: $turquoise;
}
