@import '../_mixins.scss';
@import '../_variables.scss';

.h-text {
    &-s {
        font-size: 12px;
    }
    &-xs {
        font-size: 14px;
    }
    &-r {
        font-size: 16px;
    }
    &-m {
        font-size: 18px;
    }
    &-l {
        font-size: 24px;
    }
    &-xl {
        font-size: 36px;
    }
    &-2xl {
        font-size: 48px;
    }
    &-3xl {
        font-size: 64px;
    }

    &-white {
        color: $white;
    }
    &-black {
        color: $black;
    }
    &-gray {
        color: $gray;
        &-dark {
            color: $gray-dark;
        }
        &-light {
            color: $gray-light
        }
    }
    &-red {
        color: $red;
        &-dark {
            color: $red-dark;
        }
    }
    &-pink {
        color: $pink;
    }
    &-orange {
        color: $orange;
    }
    &-turquoise {
        color: $turquoise;
    }
}

.h-font {
    &-light {
        @include font-light;
    }
    &-regular {
        @include font-regular;
    }
    &-bold {
        @include font-bold;
    }
    &-extra-bold {
        @include font-extra-bold;
    }
}
