%h-text {
  &-s {
    font-size: 12px !important;
  }

  &-xs {
    font-size: 14px !important;
  }

  &-r {
    font-size: 16px !important;
  }

  &-m {
    font-size: 18px !important;
  }

  &-l {
    font-size: 24px !important;
  }

  &-xl {
    font-size: 36px !important;
  }

  &-2xl {
    font-size: 48px !important;
  }

  &-3xl {
    font-size: 64px !important;
  }

  &-white {
    color: $white !important;
  }

  &-black {
    color: $black !important;
  }

  &-gray {
    color: $gray !important;
  }

  &-gray-light {
    color: $gray-light !important;
  }

  &-gray-lighten {
    color: $gray-lighten !important;
  }

  &-gray-dark {
    color: $gray-dark !important;
  }

  &-red {
    color: $red !important;
  }

  &-red-dark {
    color: $red-dark !important;
  }

  &-pink {
    color: $pink !important;
  }

  &-orange {
    color: $orange !important;
  }

  &-aloes {
    color: $aloes !important;
  }
}
