API_URL=https://dev-api.dimigo.in
DIMIGO_API_URL=https://api.dimigo.hs.kr
RECAPTCHA_SITE_KEY=6LfuMkwUAAAAAKQ2n1fHZdxsdsRM7vwWl9LLbJZw
GOOGLE_ANALYTICS_TRACKING_ID=UA-83656524-4
SENTRY_DSN=https://cb9bf30a7c0c458b96c09e3808e79ecc@sentry.io/1300840